*.bdf
.settings/
build/
obj/
ATM_Cpp14_lib.a
.build/
.coverage
.vscode
*.properties
**/*.properties
.cpptest
reports
Debug
.github/skills/**/misra_analysis*.log
misra_*.log
misra_analysis.log
MCDC_*.md
MCDC_*.txt
misra_analysis.log